.gallery{height: 200px;
  width: 200px;
display: grid;
}


body{background-color: beige;
border: 10px solid pink;
display: grid;
place-items: center;
padding: 0;
margin: 0;}


.gallery{ width: 60vw;}

ul{font-size: 24pt;
    text-align: center;
color: gray; }


.para{color:pink;
font-size: 22pt;
font-weight: 50pt;
font-style: italic;}


.instruction{color: rgb(128, 21, 128);
font-size: 22pt;
font-weight: 50pt;
font-style: italic;}


.flavor{ font-size: 22pt;
color: pink;
font-weight: 50pt;
font-style: italic;
font-style: bold;}
ol .tilte{ font-style: 24pt;color: white;}

.footer{ font-style: italic; color: purple;}

h3{text-align: center;}

h2{text-align: center; color: pink;
border-bottom: 1px dotted purple;}

.team{color: gray;}

.label{text-align: center; font-size: 10pt;
margin: 2px;}

/* .wrapper >.checkall{display: grid;
  margin-right: 10pt;
  position: left  ; margin-left: 10pt;

font-size: 12pt;
text-align: center;
} */
/* #wrapper.checkall{text-align: center;
font-size: 16pt; display: flex;
flex-basis: auto;} */

.donuts-frosted{  display: grid;grid-template-columns: 100pxpx  100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px ;  
  gap: 3px 4px;
  grid-template-areas:
    /* ". . ."
    ". . ."; */
    
}
.begin{display: block;
position: relative;
text-align: left;}